<div id="modal" class="home">
  
  <h1>What would you like to borrow?</h1>
  <a class='icon' href="#camping">
    <img class="iconImage" src="../images/icons/tribal-2.png" alt="Camping">
    <div class='iconTitle'>Camping</div>
  </a>
  <a class='icon' href="#kayak">
    <img class="iconImage" src="../images/icons/athlete.png" alt="Kayak and Canoe">
    <div class='iconTitle'>Kayak and Canoe</div>
  </a>
  <a class='icon' href="#snow">
    <img class="iconImage" src="../images/icons/ski1.png" alt="Snow Sports">
    <div class='iconTitle'>Snow Sports</div>
  </a>
  <a class='icon' href="#surf">
    <img class="iconImage" src="../images/icons/canoe3.png" alt="SUP & Surfing">
    <div class='iconTitle'>SUP & Surfing</div>
  </a>
  <a class='icon' href="#trek">
    <img class="iconImage" src="../images/icons/hiking2.png" alt="Trekking">
    <div class='iconTitle'>Trekking</div>
  </a>
  <a class='icon' href="#sail">
    <img class="iconImage" src="../images/icons/sailboat4.png" alt="Sailing">
    <div class='iconTitle'>Sailing</div>
  </a>
  <a class='icon' href="#climb">
    <img class="iconImage" src="../images/icons/climbing2.png" alt="Climbing & Mountaineering">
    <div class='iconTitle'>Climbing & Mountaineering</div>
  </a>
  <a class='icon' href="#cycle">
    <img class="iconImage" src="../images/icons/mountain18.png" alt="Cycling">
    <div class='iconTitle'>Cycling</div>
  </a>
  <a class='icon' href="#dive">
    <img class="iconImage" src="../images/icons/diving2.png" alt="Diving">
    <div class='iconTitle'>Diving</div>
  </a>
  <a class='icon' href="#cave">
    <img class="iconImage" src="../images/icons/climbing1.png" alt="Caving & Canyoneering">
    <div class='iconTitle'>Caving & Canyoneering</div>
  </a>
  <a class='icon' href="#angling">
    <img class="iconImage" src="../images/icons/fishing2.png" alt="Angling">
    <div class='iconTitle'>Angling</div>
  </a>
  <a class='icon' href="#accessories">
    <img class="iconImage" src="../images/icons/photo3.png" alt="Accessories">
    <div class='iconTitle'>Accessories</div>
  </a>

</div>